
mi-flex{
    display:flex;
}


.btn button {
    display: flex;
    align-content: right;
}

.green{
    color: green;
}

.green ::before{
    content: '+$';
}

.red{
    color: red;
}

.red ::before {
    content: '-$';
}

.fecha{
    font-size: 9rem;
}